.Welcome{
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gameBox{
    width: 45%;
   
}
.Users{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}
@media screen and (max-width: 600px) {
    .Welcome{
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .gameBox{
        margin: auto;
        width: 90%;
    }
  }